/* Estilo global para fondo oscuro */
body, .App {
  background-color: #1a1a1a; /* Gris muy oscuro */
  color: #f1f1f1; /* Color de texto claro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
